a.text-info{
    margin: 10px;
}
body{
    padding-top: 0px;
    overflow-x:hidden;
}
input.login{
    width: 250px;
}
input.search{
    width: 250px;
}
.alert {
    margin-bottom: 1px;
    height: 30px;
    line-height:30px;
    padding:0px 15px;   
}
.nav 
.scrollspy{
    max-width: 500px;
}
.scrollspy-content{
    position: relative;
    overflow: auto;
    height: 400px;
}

ul.dropdown-lr {
    width: 300px;
}
