<div class="container">
    <div class="row">
        <div class="col text-center my-5">
            <h3>
                <i class="fa fa-fire text-danger" aria-hidden="true"></i>
                In flamma nunquam exeat
            </h3>
            <p> Ignem Inextinguibilem </p>
        </div>
    </div>
</div>

<div class="alert alert-dark">Contatos</div>
<div class="container">
    <div class="row justify-content-sm-center">

        <div class="col-sm-6 col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <img height="200" width="200" src="http://2.bp.blogspot.com/_LcZ-pLpey4M/THPFxh1uPRI/AAAAAAAAALE/GhZ71JywLQk/s1600/objetos.bmp">
                    <h4 class="card-title"> Itens </h4>
                    <h6 class="card-subtitle mb-2 text-muted"> Novos Itens </h6>
                    <p class="card-text"> Lorem ipsum dolor sit amet </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Item A</li>
                    <li class="list-group-item">Item B</li>
                    <li class="list-group-item">Item C</li>
                </ul>

                <div class="card-body">
                    <a href="#" class="card-link"> Ver </a>
                    <a href="#" class="card-link"> Outros</a>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <img height="200" width="200" src="https://i.pinimg.com/originals/3b/58/73/3b5873b0cf35a4f35d4186ba190425b6.jpg">
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Arma A</li>
                    <li class="list-group-item">Arma B</li>
                    <li class="list-group-item">Arma C</li>
                </ul>

                <div class="card-body">
                    <a href="#" class="card-link"> Ver </a>
                    <a href="#" class="card-link"> Outros</a>
                </div>

            </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-5">
            <div class="card">
                <img height="200" width="200" src="https://vignette.wikia.nocookie.net/tsrd/images/6/6c/Dd-dice.jpg/revision/latest?cb=20171123014819&path-prefix=pt-br">
                <div class="card-body">
                    <h4 class="card-title"> Itens </h4>
                    <h6 class="card-subtitle mb-2 text-muted"> Novos Itens </h6>
                    <p class="card-text"> Lorem ipsum dolor sit amet </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Regra A</li>
                    <li class="list-group-item">Regra B</li>
                    <li class="list-group-item">Regra C</li>
                </ul>

                <div class="card-body">
                    <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal"> Ver </a>
                    <a href="#" class="card-link"> Outros</a>
                </div>
                <div class="card-footer text-muted text-sm-left">
                    Rodapé
                </div>
            </div>
        </div>
    </div>
</div>