<div class="container">
    <div class="row">
        <div class="col text-center my-5">
            <h3>
                <i class="fa fa-fire text-danger" aria-hidden="true"></i>
                In flamma nunquam exeat
            </h3>
            <p> Ignem Inextinguibilem </p>
        </div>
    </div>
</div>

<div class="alert alert-dark">Contatos</div>
<div class="container">Cards</div>